@use '_var' as *;
.ss-btn {
	display: inline-flex;
	width: fit-content;
	white-space: nowrap;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	column-gap:24px;
	border-radius: 10px;
	padding: 20px 30px;
	border: 0;
	background: var(--accent1);
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 18px;
	line-height: 1.40;
	color: var(--white);
	transition: .3s;
   
	&:hover {
    	background: var(--accent2);
	}
	&:focus-visible {
	 outline: 2px solid var(--accent1);
	 border-radius: 12px;
	 outline-offset: 5px;
	}
	&[disabled]{
		pointer-events: none;
		cursor: default;
		opacity: .4;
	}
}