//- ===== colors ======
$baseFs: 16;

@function remy($pxsize) {
  @return ($pxsize / $baseFs) * 1rem;
}

@function size($pxsize) {
	@return calc(($pxsize/17))*1vw;
}
$md: 744px;
$tablet: 1024px;
$laptop: 1200px;
$desktop: 1440px;

$black: #000000;
$white: #FFFFFF;
$accent1: #0044BB;
$accent2: #08428C;
$accent3: #79B0E3;
$accent4: #5F97CC;
$error: #BB0000;
$primary: #031D2A;
$primary1: #243A45;
$secondary: #7C8A93;
$secondary1: #A4AEB4;
$secondary2: #DEE2E4;
$secondary3: #F8F9F9;